<div class="container">
  <h1 class="text-danger text-center">Welcome to {{ title }}!</h1>
  <hr />

  <div id="fetchbtn">
    <button type="button" class="btn btn-outline-success" (click)="getAllStudents();">Click me</button>
  </div>
  <div><small class="text-info">Click the button to fetch the student from the database!</small></div>

  <div *ngIf="myresponse">
    <table class="table table-bordered table-hover">
      <thead>
        <th>student Id</th>
        <th>Name</th>
        <th>Dept</th>

       
      </thead>
      <tbody>
        <tr *ngFor="let student of myresponse">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.dept}}</td>

        
        </tr>
      </tbody>
    </table>
  </div>
</div>

